@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color:  #004B17;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  font-family: 'Aachen Std Medium', 'Lubalin Graph ITC Turner Bold';
}
.shadow-md {
  padding: 0px;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

