@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color:  #004B17;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  font-family: 'Aachen Std Medium', 'Lubalin Graph ITC Turner Bold';
}
.shadow-md {
  padding: 0px;
}

